<div id="center">
	<div class="boxheader">Add Someone to the Tracker</div>
<p>
The fields listed below are required. If you'd also like to enter contact information at this time, you can. Once you enter your
information, the system will try to match an existing person in the system based on email. If successful, the it might save you some time
filling out the profile.
</p>
<strong>New Person</strong><br/>
<% @person.errors.full_messages.each do |msg| %>
  <div class='flash_notice'><%= msg %></div>
<% end %>
<% @current_address.errors.full_messages.each do |msg| %>
  <div class='flash_notice'><%= msg %></div>
<% end %>
<% form_for(:person, :url => '/people/create') do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>