BODY {
	margin: 0px;
	padding: 0px;
	color: #336699;
	/*background: #FFFFFF;*/
	scrollbar-3dlight-color: #E5E5CC;
	scrollbar-highlight-color: #336699;
	scrollbar-shadow-color: #336699;
	scrollbar-darkshadow-color: #E5E5CC;
	scrollbar-face-color: #D0DDEA;
	scrollbar-arrow-color: #336699;
	scrollbar-track-color: #E5E5CC;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
BR {
	font-size: 4px;
}
.static {
	color: green;
}
div.screen {
	width: 1024px;
	height: 768px;
	background-color: Aqua;
	margin: -5px;
}
#topnav {
	margin: 0px;
	margin-right: 105px;
	text-align: right;
}
.pad {
	padding: 5px;
}
.center {
	color: #000000;
	background: #E5E5CC;
	border: 1px solid #336699;
	margin-left: 10px;
	margin-right: 105px;
	margin-top: 5px;
	padding-left: 3px;
	padding-bottom: 10px;
	z-index: 3;
}
#center {
	color: #000000;
	background: #E5E5CC;
	border: 1px solid #336699;
	margin-left: 10px;
	margin-right: 115px;
	margin-top: 5px;
	padding-left: 3px;
	padding-bottom: 10px;
	z-index: 3;
}
#right {
	position: absolute;
	right: 5px;
	top: 20px;
	width: 110px;
	z-index: 0;
}
#append_query{
	display: none;
	padding: 2px;
}
.box, .insidebox, .profile_box {
	color: #000000;
	background: #FFFFFF; 
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	border-color: #336699;
}

.col1 {
	width: 47%;
	left: 10px;
	position: relative;
}
.col2 {
	width: 42%;
	top: 54px;
	right: 115px;
	position: absolute;
}
.insidebox {
	margin: 10px;
	padding: 5px;
}
.boxheader, .subboxheader, .subboxheader2, .subboxheader-a{
	color: #336699;
	background: #D0DDEA;
	border-bottom: 2px dashed #336699;
	font-family: Arial, sans-serif;	
	font-size: 16px;
	padding: 3px 3px;
	font-weight: bold;
}
.subboxheader, .subboxheader-a {
	font-size: 11px;
}
.subboxheader-a {
	display: inline-block;
}
.subboxheader2{
	color: #336699;
	background: #D0DDEA;
	border-bottom: 1px dashed #336699;
	font-family: Arial, sans-serif;	
	font-size: 11px;
	padding: 3px 3px;
	font-weight: bold;
}
img.x {
	float: right;
	position: relative;
	top: -12px;
	cursor: pointer;
}
img.x2 {
	position: relative;
	top: 2px; 
	cursor: pointer;
}
div.menu {
	padding: 2px;
	border-bottom: 1px solid #EEEEEE;
	font-size: 11px;
	background: #FFF;
}
A.menu:link, A.menu:active, A.menu:visited {
	margin: 0px;
	padding: 2px;
	color: #336699;
	text-decoration: none;
	display: inline;
}
A.menu:hover{
	background: #FFFF99;
	padding: 1px 2px;
	color: #336699;
	text-decoration: none;
	cursor: hand;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #336699;
}
#search {
	padding: 5px;
	background-color: #f8f8f8;
	border-bottom: 1px #336699 solid;
}
div.select_box {
	position: absolute;
	border: black 1px solid;
	display: none;
	z-index: 4;
}
div.select_item {
	background: #EEEEEE;
	padding-right: 3px;
	cursor: default;
}
div.select_item:hover{
	padding-right: 3px;
	background: #FFFF99;
	color: #336699;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #336699;
	display: block;
}
#options {
	cursor: pointer;
}

.search_item:hover {
	background-color: Aqua;
}
#query_header {
	cursor: pointer;
}
#hide_queries {
	display: block;
}
#name {
	position: absolute;
}
#selected_options {
	margin-left: 5px;
	position: absolute;
	float: left;
	display: none;
}
A:active, A:visited, A:link {
	color: #336699;
	text-decoration: none;
}
A:hover {
	color: #336699;
	background: #FFFF99;
	text-decoration: none;
	cursor: pointer;
}
INPUT, TEXTAREA, SELECT{
	font-family: Arial, sans-serif;	
	font-size: 11px;
	background: #EEEEEE;
	color: #336699;
	border: solid 1px #336699;
	padding-left: 2px;
}

A.button:link, A.button:active, A.button:visited, .search_item {
	padding: 1px 5px;
	color: #336699;
	background: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	border-color: #336699;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}

A.button:hover, .search_item:hover {
	padding: 1px 5px;
	color: #336699;
	background: #FFFF99;
	text-decoration: none;
	border-width: 2px 1px 1px 2px;
	border-style: solid;
	border-color: #336699;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}
.search_item, .search_item:hover {
	position: absolute; 
	width: 110px;
/*	padding: 2px; */
}
.button {
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	border-color: #336699;
}
#search_button {
	float: left;
	position: relative;
	top: -1px;
	left: 119px;
	padding: 2px 15px 2px 0px;
}
.go {
	position: relative;
	top: -1px;
}

TD {
	font-family: Arial, sans-serif;	
	font-size: 12px;
	color: #000000;
	padding: 3px;
}

TD.white, .cell, .cell2{
	font-family: Arial, sans-serif;	
	font-size: 12px;
	color: #000000;
	background: #FFFFFF;
	padding: 3px;
}
.cell2{
	background: #EEEEEE;
}
TD.sort, TD.nosort, TD.sortactive {
	padding: 0px;
	border-bottom: 1px solid #336699;
	font-size: 9pt;
}
TD.nosort {
	padding: 2px 3px;
}
TD.sortactive {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #336699;
	background: #EEEEEE;
}

A.sort:link, A.sort:active, A.sort:visited, A.sort:hover, A.sortactive:link, A.sortactive:active, A.sortactive:visited, A.sortactive:hover {
	padding: 2px 4px;
	color: #336699;
	background: #FFFFFF;
	text-decoration: none;
	width: 90%;
	display: block;
	cursor: pointer;
}
A.sort:hover{
	background: #FFFF99;
}
A.sortactive:link, A.sortactive:active, A.sortactive:visited, A.sortactive:hover {
	font-weight: bold;
	background: #EEEEEE;
}
A.sortactive:hover{
	background: #F5F58F;
}
form{
	display: inline;
}

.error {
	color: Red;
}

div.view_column, div.hl_service {
	background: #eee;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #336699;
	padding-left: 6px;
	margin-top: 2px;
	margin-bottom: 3px;
	width: 400px;
}
div.hl_service { 
	color:maroon; 
	background-color:#EFEFEF; 
	font:BOLD 12px Arial; 
	padding-left: 0px;
	border-left: 6px solid maroon; 
	border-right: 1px solid maroon; 
	border-top: 1px solid maroon; 
	border-bottom:1px solid maroon;
} 
div.column_title {
	width: 200px;
	display: inline;
	float: left;
	/*border: 1px black solid;*/
}
#results {
	border-top: 1px solid #336699;
}
#email_box {
	padding: 10px;
	background: Red;
	position: absolute;
	border: 1px black solid;
	display: none;
	z-index: 4;
}
#modify_value {
	width: 130px;
	height: 100px;
	background: #FFFF99;
	display: none;
	border: thin solid black;
}
.modify_field {
	display: none;
}
#preview {
	background: #FFFFFF;
}