<div id="topnav">
<%if $applicationID%>
<a href="/directory/profile?perso_id=<%=$personID%>&application_id=<%=$applicationID%>">Back to Profile</a> | 
<%end%>
<a href="/admin">Admin Tools</a> | 
<a href="/directory">Directory</a> | <a href="/views">Views</a> | <a href="/logout">Log Out</a></div>