<div id="topnav">
  <div id="left">
    <a href="#" onclick="toggle_sidebar()">
      <%= image_tag('sidebar.png', :id=>"image") %>
      <span id="sidebar_toggle">Hide Sidebar</span>
    </a>
  </div>
  <a href="/user">Add Users</a>
  <a href="/directory">Directory</a>
  <a href="/views">Views</a>
  <a href="/logout">Log Out</a>
</div>