<div id="topnav">
<%if $applicationID%>
<a href="/directory/profile.php?personID=<%=$personID%>&applicationID=<%=$applicationID%>">Back to Profile</a> | 
<%end%>
<a href="/admin/admin.php">Admin Tools</a> | 
<a href="/directory/directory.php">Directory</a> | <a href="/views/directory_views.php">Views</a> | <a href="/logout.php">Log Out</a></div>