<div id="topnav">
<%if false%>
<a href="/directory/profile?perso_id=<%=$personID%>&application_id=<%=$applicationID%>">Back to Profile</a> | 
<%end%>
<a href="/users">Add Users</a> | 
<a href="/directories">Directory</a> |
<a href="/views">Views</a> |
<a href="/logout">Log Out</a></div>