


<div id="center">
	<div class="boxheader">Editing a view</div>
	<br/>
	<div class="insidebox">
		<% if flash[:notice] -%>
			<div id="notice"><%= flash[:notice] %></div>
		<% end -%>
		<%= form_for(@view, :url => view_path(@view), :method => :put, :html => {:id => 'view_form'}) do |f| %>
			<%=render 'form', :f => f %>
		<% end %>
	</div>
</div>