$('div#memo_space').hide();
$("div#memo_space").html("<div class='flash_notice_ok'>Directory View named '<%= @view.name %>' is added in your list.</div>")
$('div#memo_space').fadeIn();
$('#spinner_user_search').hide();