<div id="center">
	<div class="boxheader">Create a view</div>
	<br>
	<div class="insidebox">
		<%= error_messages_for 'view' %>
		<%= form_tag({:action => 'new'})%>
			View Name:
			<%=text_field(:view, :name)%>&nbsp;&nbsp;
			<input type="submit" name="next" value="next" class="button">
		</form>
	</div>
	</div>
</div>