<% if @people.size > 20 -%>
	There are <strong>more than 20 people</strong> who match the name you've typed so far. Keep typing.
<% elsif @people.size == 0 %>
	<strong>There are no matches for the name you have entered. Please try something else.</strong>
<% else %> 
	Click on one of the names listed below to see the views that person has created.<br/>
	<% @people.each do |p| 
			person = p.user.person
			link_text = person.firstName+' '+person.lastName
			link_text += ' '+person.current_address.email if person.current_address-%>
		<%=link_to(link_text, {:action => :friend, :id => p.id})%><br/>
	<% end
   end -%>