BODY  { background-color:#ffffff; margin-top:0; margin-left:0}
P  { font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans serif; font-weight: 400; }

  TH { text-align: left; font-family: Verdana, Arial, Helvetica, sans serif; font-size: 8pt; }
  TD { font-family: Verdana, Arial, Helvetica, sans serif; font-size: 8pt; }

input { text-decoration:none; font-family:verdana, sans-serif; color:#000000; font-size:8pt; }
select { text-decoration:none; font-family:verdana, sans-serif; color:#000000; font-size:8pt; }

.h3 { font-family: Verdana, Arial, Helvetica, sans serif; font-size: 8pt; font-weight: 400; margin: 0 0 5 3; }
.null { background-color: #ffffff; }
.debit { text-align: right; color: red; padding: 2, 2, 2, 2; }
.credit { text-align: right; padding: 2, 2, 2, 2; }
.oddrow { background-color: #ffffff; }
.evenrow { background-color: #dddddd; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.red { color: red; }
.green { color: green; }
.footer { font-family: Verdana, Arial, Helvetica, sans serif; font-size: 8pt; }
.help { background-color: #ffffcc; }

  td.month { background-color:#000099; color: #ffffff; font-weight:bold;}
  th.week { background-color:#e0e0ff; color: #000099; font-weight:bold;}
  td.today { background-color:#000099; color: #000099; text-decoration: underline; font-weight:bold;}
  A.today:link    { color: #ffffff; text-decoration: underline; font-weight: bold;}
  A.today:visited { color: #ffffff; text-decoration: underline; font-weight: bold; }
  A.today:active  { color: #ffffff; text-decoration: underline; font-weight: bold; }   
  A.today:hover  { color: #ffcc00; text-decoration: underline; font-weight: bold; }
  .notnow { background-color: #e0e0ff; text-align: center; font-weight: 200; }
    
.fakelink { color: blue; text-decoration: underline; }