body {
	margin: 0px;
	padding: 0px;
	color: #336699;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	overflow-x: hidden;
}

#topnav {
	background: #4183c4;
	text-align: right;
	padding: 5px 25px;
	border-bottom: 1px solid #265aa6;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

#topnav a {
	color: #fff;
	text-decoration: none;
	margin-right: 40px;
	margin-left: -30px;
}

#topnav a:hover {
	color: #dedede;
	text-decoration: none;
}

div#notice_space {
	margin-top: 40px;
	margin-bottom: -40px;
}

div.flash_notice {
	border: 1px solid #990000;
	margin: 10px;
	padding: 5px;
	background: #ffe2e9;
	font-weight: bold;
	color: #990000;
	text-align: center;
}

#center {
	padding: 40px 10px;
}

div.boxheader {
	color: #336699;
	background: #D0DDEA;
	border-bottom: 1px solid #336699;
	font-size: 16px;
	padding: 5px;
}

#main_panel {
	overflow: hidden;
	border: 1px solid #336699;
}

#main_panel div#directory_results, #main_panel div#users_list, #main_panel div#profile_info {
	overflow: hidden;
	overflow-x: auto;
}

#main_panel div.frame {
	min-width: 850px;
}

#main_panel div.profile_box div.subboxheader-a {
	border-bottom: 1px solid #336699;
	color: #336699;
	background: #D0DDEA;
	padding: 5px;
	
}

#main_panel div.profile_box div.subboxheader2 {
	font-size: 14px;
	padding: 3px 5px;
	background: #e0edf9;
}

#main_panel div.profile_box a {
	color: #4183c4;
	text-decoration: none;
}

#main_panel div.profile_box a:hover {
	color: #62a5e6;
	text-decoration: none;
}

#main_panel span.label  {
	font-weight: bold;
}

#main_panel div.col1 {
	width: 50%;
	margin: 0;
	padding: 5px 0;
	float: left;
}

#main_panel div.col2 {
	width: 50%;
	margin: 0;
	padding: 5px 0;
	float: right;
}

#main_panel div.boxed {
	
}

#main_panel div.segment {
	margin: 10px;
}

#main_panel div.profile_box {
	border: 1px solid #336699;
	margin: 5px;
}

#main_panel div.col1 div.profile_box {
	margin-left: 10px;
}

#main_panel div.col2 div.profile_box {
	margin-right: 10px;
}

#main_panel table.info {
	margin: 5px;
}
#main_panel table.info td {
	vertical-align: top;
	line-height: 25px;
}

#other_panel {
	float:left;
	border: 1px solid #336699;
	border-right: none;
	background: #fcfcfc;
	width: 210px;
	padding: 5px;
	display: none;
	color: #fff;
}

table#results {
	background: #fefefe;
}

table#results tr.odd {
	background: #ffffff;
}

table#results tr.even {
	background: #f7f7f7;
}

table#results td.lined {
	border: 1px solid #cdcdcd;
	border-top: none;
}

table#results td.lined-t {
	border: 1px solid #cdcdcd;
}

table#results td.lined-l {
	border: 1px solid #cdcdcd;
	border-top: none;
	border-right: none;
}

table#results td.lined-r {
	border: 1px solid #cdcdcd;
	border-top: none;
	border-left: none;
}

table#results td {
	height: 25px;
	min-width: 100px;
	max-width: 230px;
	padding-left: 5px;
	padding-right: 5px;
	color: #555;
}

table#results td a {
	color: #336699;
	text-decoration: none;
}

table#results td a.action {
	margin-left: 10px;
	margin-right: 10px;
}

table#results td a:hover {
	color: #4183c4;
	text-decoration: none;
}

table#results td.white {
	height: 20px;
	background: #ececec;
	border-left: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
}

table#results td.white a {
	color: #555;
	text-decoration: none;
	font-weight: bold;
}

table#results td.white a:hover {
	color: #777;
}

table#results td.checkbox {
	width: 25px;
	min-width: 25px;
	text-align: center;
}

table.list {
	
}

div.modify_field input {
	text-align: center;
	width: 90px;
}

div.side_title {
	font-size: 14px;
	color: #fff;
	margin-bottom: 5px;
}

a.button {
	border: 1px solid #336699;
	min-width: 80px;
}

div#search_button {
	margin-top: 5px;
	text-align: center;
}

input.search_field {
	padding: 2px;
	width: 105px;
}


div.search_label {
	width: 70px;
	display: inline-block;
	color: #333;
}

.ui-accordion .ui-accordion-content {
	padding: 10px;
}

.ui-tabs .ui-tabs-panel {
	padding: 0;
}

div.centered {
	text-align: center;
}

.ui-accordion-header {
	cursor: pointer;
}

div.entry {
	padding: 5px 8px;
}

div.entry:hover {
	background: #e9e9e9;
}

div.entry a {
	font-size: 13px;
	text-decoration: none;
}

div.entry div.entry_delete {
	float: right;
	padding-top: 3px;
}
div.entry div.entry_add {
	float: left;
	width: 20px;
	padding-top: 3px;
}

#other_panel .head {
	background: #4183c4;
	padding: 5px 8px;
	color: #fff;
}

#other_panel div.entry {
	color: #333;
}
#other_panel div.entry a {
	color: #333;
}

#other_panel .guide {
	padding: 5px;
	color: #333;
	cursor: default;
}

#other_panel div.picture {
	text-align: center;
	margin: 10px;
}

input[type='text'] {
	width: 180px;
	padding: 2px;
}

#user_search_results {
	min-height: 30px;
}

.spinner_container {
	height: 20px;
}

#spinner_user_search {
	display: none;
}

span.detail {
	color: #999999;
	font-size: 10px;
}

div.no_result {
	text-align: center;
	font-size: 14px;
}

a.wide_link {
	width: 100%;
}

.fleft {
	float: left;
}

.acenter {
	text-align: center;
}

.font14 {
	font-size: 14px;
}

.hidden {
	display: none;
}

.modify_field {
	display: none;
}